<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <div>
        <header>
            <h1>ADMIN</h1>
            <button id="logoutButton" onclick="logout()">Logout</button>
        </header>
    
        <nav>
            <a href="/adminhome">HOME</a> |
            <a href="/admin/product-form">PRODUCT FORM</a> |
            <a href="/admin/productlist">PRODUCTS</a> |
            <a href="/admin/userslistform">USERS LIST</a>
        </nav>
    </div>

    <script src="/js/logout.js"></script>
</body>
</html>